  /* FarmBox
   *
   *
   */

.normal{

  font-size:1em

}

.big{

  font-size:2em;

}


.huge{

  font-size:120px;
  text-shadow:3px 3px 3px rgba(0,0,0,0.7);
}

.huuge{

  font-size:240px;
  text-shadow:3px 3px 3px rgba(0,0,0,0.7);
}


.required:after{
content:" *";
}

.slidedown{



}



.icon_bar{

  position:absolute;
  bottom:3px;
  left:3px;
  right:3px;
  width:auto;
  margin:4px 1px;
  border:1px solid lightgrey;
  border-radius:3px;
  background:azure;
  height:50px;
}



.butt_after{

margin:0 3px 0 3px;
background:#fefefe;
background-image:url('./img/bg_texture.png');
border:1px solid lightgrey;
border-radius:3px;
max-height:38px;
max-width:210px;
overflow:hidden;
-moz-transition:max-height 0.5s ease-out, max-width 0.5s ease;
}

:not(.float_left h2),
.butt_after h2::before{

font-family: FontAwesome;
content:"\f13a";
}

:not(.float_left:hover h2),
.butt_after:hover h2::before{

font-family: FontAwesome;
content:"\f139";
}

.butt_after:focus,
.butt_after:active,
.butt_after:hover{
max-width:100%;
max-height:550px;
height:auto;
max-height:100%;
-moz-transition:max-height 0.5s ease, max-width 0.5s ease;
z-index:5000;
padding-bottom:25px;

}




.float_left{
max-width:100%;
margin-bottom:12px;
margin:12px 35px;
}




.butt_after table{
  
  margin:5px auto;
  width:80%;
  box-shadow:3px 3px 7px darkgrey;

  border-width: 1px ;
  border-color:white black #222 white;
}
.butt_after tr,
.butt_after th,
.butt_after td{

  border:0;
}


    .butt_after h6{

      float:right;
      top:0;
      clear:none;
      margin-top:-30px;

    }

/*************************************************************************************************************/
  nav i{

    color:yellow;

  }

  nav a:hover :before{

    color:white;

  }
  nav a:visited{

    color:white;

  }

  header{
    padding:0px 7px 4px 7px;
    margin:0;
    background:#222222;
    background-color:olivedrab;
    background-repeat:repeat;
    background-image:url('./img/bg_texture.png');
  /*
    background-image:url('http://api.thumbr.it/whitenoise-361x370.png?background=03030300&noise=6a8e23&density=100&opacity=99') ;
    */
    overflow:hidden;
    min-height:140px;
    z-index:50;
    color:white;
  }
  
  nav{
    margin-top:40px;
    text-align:right;
  }
  
  footer{
    clear:both;
    color:white;
    background:#222;
    min-height:90px;
    padding:0;
    text-align:center;
    width:1024px;
    background-image:url('./img/bg_texture_black.png');
    border-top:4px inset black;
    
  }

  
  #version{
  width:1em;
  max-height:1em;
  float:left;
  overflow:hidden;
  color:grey;
  }
  
  #version:hover{
  max-height:100%;
  width:auto;
  -moz-transition:width 1s ease;
  
  color:grey;
  }
  
  
  #top_search{
    float:right;
    clear:right;
    margin:0px;
    margin-right:4px;
    padding:2px;
    border:1px solid white;
    border-radius:2px;
    background: white;
    color:olivedrab;
  }
    #top_search:focus{

      color:black;

    }
  
  
.cartmin{
  clear:right;
  float:right;
  border:1px solid #f0f0f0;
  border-radius:3px;
  padding:2px 7px 7px 2px;
  margin:8px 0px 7px 1px;
  display:block;
}

  .cartmin i{

    font-size:1.4em;
    
    }


.page_top{

  margin:12px 35px;
  border-radius:3px;
  border:1px solid #e0e0e0;
  background:#fefefe;
  background-image:url('./img/bg_texture.png');
  padding:9px;

}



  table a,
  table a:visited,
  :not table th a,
  :not table th a:visited,
  #checkout a,
  #checkout a:visited{
    color:white;
    background:dodgerblue;
    border:1px solid black;
    border-radius:3px;
    text-decoration:none;  
    font-size:0.8em;
}
  
  #banner{
    margin:0;
    padding: 0px 18px;
    background-image:url('./img/veg_bg.jpg');
    border:0px solid olivedrab;
    min-height:296px;
    color:white;
    text-shadow:10px 10px 28px black;
    font-size:1.3em;
  
  }
  #banner h1,h2,h6{
  margin:1px;
  }
  
  #banner p{
    margin-bottom:0px;
    padding:7px;
    background: rgba(0,0,0,0.6);
    background: rgba(255,255,255,0.75);
    color:black;
    border-radius:1px;
    }
    
  #site_logo{
    float:left;
    background-image:url('img/vegbox_logo_sm.png');
    min-width:100px;
    min-height:120px;
    background-repeat:no-repeat;
  
  }

    #map {
        width: 750px;
        height: 600px;
        margin:0 auto 25px auto;
        
      }
  
  
  #site_title{
    color: #fefefe;
    text-shadow:  1px 1px 1px rgba(255,255,255,0.5);
    float:left;
    margin:5px;
    font-size:3.3em;
    padding-bottom:5px;
    border-bottom:2px solid white;
    transition:border-color 1.5s ease;
    -moz-transition:border-color 1.5s;
  }
  #site_title:hover{
    border-bottom:2px solid yellow;
    transition:border-color 0.3s ease;
    -moz-transition:border-color 0.3s;
  }
  
  #site_title a:hover {
    text-decoration:none
  }
  
  #header_login{
    max-height:30px
    float:right;
    clear:none;
    text-align:right;
    font-size:0.9em;
    margin-bottom:5px;
  }
  
  #header_login:selected{
    height:0px;
  
  
  }
  
  
  div.dashboard{
    
    border:2px solid olivedrab;
    float:left;
    width:20%;
    padding:13px;
    background:white;
    margin:10px; 
  }

  .topdebug{

  
    border:1px solid darkred;
    padding:0;
    background:#FDD7E4;
    color:darkred;
    overflow:auto;
    
  }
    .topdebug h2{
      padding:0;
      margin:0;
      float:left;
      font-weight:bold;
      font-size:2em;
      

    }



/****************8
 *
 *
 * view_options
 * 
 */

  .numbar{

    
    margin: 3px 5px 3px 12px;

  }

  .numbar a,
  .numbar a:hover,
  .numbar a:visited{
    border:1px solid #1e90ff;
    border-radius:3px;
    
    color:white;
    font-size:1em;
    padding:3px 3px 6px 3px;
    background:#66c2ff;
    
    text-decoration:none;

  }

.numbar a:hover{
    background:#1e90ff;
    border:1px solid #191970;

}





  /**
   * 'Overlaid' feedback box
   * This is rendered on top of everything else making use of z-index.
   *
   *
   */


  
  .alert_overlay{

  width:100%;
  height:100%;
  z-index:666;
  background: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  -moz-transition: background 2s ease;
  }




    .alert_overlay h2,
    .alert_overlay p{

      width:500px;
      margin:auto;
      border:1px solid black;

    }

    .alert_overlay h2{
      margin-top:250px;
      border-radius:4px 4px 0 0;
      background:red;
      color:white;
      font-size:1.2em;
      box-shadow: 5px 5px 3px black;
      border-bottom:0;
    }



    .alert_overlay p{
  border-top:0;
    box-shadow:5px 5px 3px black;
    
        background:white;
        border-radius:  0 0 4px 4px;
    }
  

    .notify h2{

      background:olivedrab;

    }

    .alert_overlay a,
    .alert_overlay a:visited{

      color:black;


    }

    .alert_overlay p{

    }

    
   
  *{
    font-family: 'Dosis', sans-serif;
    padding:3px;
  }
  
  html{
    padding:0;
    background:#f0f0f0;
    background-image:url('./img/bg_texture_white.png');
  
  }
  
  body{
    background:#ffffff;
    margin:0 auto;
    margin-top:5px;
    max-width:1024px;
    box-shadow:3px 3px 23px 30px #cccccc, -3px 2px 3px grey;
    border-color:black;
    border-width:0px 0px 0px 0px ;
    border-style:solid;
    margin-bottom1: 125px;
    padding:0;
    
    z-index:0;
  }

  article{

    text-align:center;
  }
  
  hr{
  
    padding:1px;
    background:rgba(200,200,200,0.7);
    border:0px;
  }
  
  h1{

 margin-left:7px;
  
  
  }
  
  h2{
  
  
  
  }
  
  h3{
  
  
  
  }
  
  h4{
  
  
  
  }
  
  h5{
  
  
  
  }
  
  h6{
  
  
  
  }
  
  p{
  
  
  
  }
  
  li{
  
  
  
  }
  
  
  ul{
  
  
  }
  
  dl{
  
  
  }
  
  code{
    font-family:Courier, mono;
    padding:3px;
    line-height:2em;
    margin:0px 3px;
    background:wheat;
    border:1px dotted brown;
    color:black
  }
  
  /* INFO BOXES
   *
   *
   *
   */
  
  
  blockquote h2{
    width:100%;
    margin:0;
    padding:5px;
    color:white;
    text-shadow:1px 1px 3px black;
    font-size:1.5em;
    border-radius:7px 7px 0px 0px;
    }
  
  .info{
    padding:0;
  
    width:auto;
    margin:0 25px ;
    padding:0px;
    color:white;
    text-shadow:1px 1px 3px grey;
    font-size:1.5em;
    border-radius:7px 7px 0px 0px;
    border-radius:7px;
  }
  
  .info  p{
  margin:0;
  margin-bottom:12px;
  border-radius: 0 0 7px 7px;
  color:black;
  }
  
  .info h2{
  
    border-radius: 7px 7px 0 0;
  
    margin:0;
    background:dodgerblue;
    background-image:url('img/bg_texture_blue.png');
  }
  .warn h2{
    background:firebrick;
    background-image:url('img/bg_texture_red.png');
  }
  
  .notification h2{
    background:olivedrab;
    background-image:url('img/bg_texture.png');
  
  
  
  }
  
  
  
  .notification p{
    width:100%;
    margin:0;
   padding:5px 4px;
    
    border-width:0px 1px 1px 1px;
    border-radius:0px 0px 7px 7px ;
   border:1px solid olivedrab;
    /*color:olivedrab;*/
      text-shadow:1px 1px 2px grey;
  
  }
  .info p{
    border:1px solid dodgerblue;
   /* color:dodgerblue;*/
  }
  .warn p{
    border:1px solid firebrick;
    color:firebrick;
    background:ff9c9c url('img/bg_texture_ff9c9c');
  }
  
  blockquote a,blockquote a:visited, blockquote a:hover{
    color:black;
  }
  #debug a:hover{
  border-radius:3px;
  background:orange;
  
  }
  
  
  
  
  .small{
  
    font-size:0.8em
  
  }
  
  a,a:visited.small {
    color:black;
  }
  
  /*
   * Links
   */
  
  a{
  color:black;
  font-size:1.3em;
  }
  
  header a{
    
    font-size:1.1em;
    font-weight:bold;
    color:white;
    text-decoration:none;
  
    }
  
  a.incopy, a.incopy:visited{
    color:black;
    font-size:1em;
  }
  a.incopy:hover{
    color:blue;
  }


.product .basket_totals{

  font-size:1.3em;
  color:green;
}

  .basket_totals{

      
/*
      border:1px solid white;
      border-radius:2px;
      color:black;
      background:white;
*/
      font-family:Courier-New, Courier, monospace;

      color:yellow;
      text-shadow:1px 1px 1px #222;

      
  font-weight:bold;
      
  border-bottom:1px dotted white;

/*
      letter-spacing:3px;
*/
      
  }

  
  
  /**************************************************
   * Site Navigation
   *
   *
   **************************************************/
  
  
  
  #nav_main_right{
    float:right;
  }


  .navigation,
  #nav_main_left{
    position:absolute;
    z-index:5;
    clear:both;
    float:left;
    margin:0;
    text-indent:0;
    margin-top:50px;
    /*width:100%;
    */
    }
  
      #nav_main_left ul,
      .navigation ul{
        position:absolute;
        left:-9999px;
        opacity:0;
        -moz-transition:opacity 1 ease, border-top 0.2s ease-in;
        text-indent:0;
        text-align:left;
        float:left;
        z-index:50;
        clear:both;
        background:olivedrab;
            background-image:url('img/bg_texture.png');
padding:0;
        margin-top:3px;
        border-radius:3px;
        
      }
      
      .navigation li,
      #nav_main_left li{
        float:left;
        position:relative;
        list-style-type:none;
                text-indent:0;

      }
      
      
      .navigation ul li,
      #nav_main_left ul li {
        list-style-type:none;
        float:none;
        width:100%;
        z-index:2000;
        margin:0;
        text-indent:0;
      }
      
      
      
      
      .navigation li ul a,
      #nav_main_left li ul a{
      position:relative;
      margin:0;
      width:100%;
      background-clip:border-box;
      padding:6px 10px;
      display:block;
      }
      
      
      .navigation li:hover ul,
      #nav_main_left li:hover ul{
        left:0;
        position:absolute;

        white-space:nowrap;
        opacity:1;
        -moz-transition:opacity 0.0s ease-in, border-top 0.1s ease-out;
        text-indent:0;
        

      }

      #nav_main_left li ul a,
      .navigation li:hover ul li:hover{
       
        background-clip:border-box;
                        width:100%;

      }


 #usermenu{
  border:1px dotted white;
  border-width:0 0 0 1px;
  float:right;
  }
  
  nav a{
    margin:0 5px 0 5px;
    border:0px solid olivedrab;
    border-radius:3px;
    transition:text-shadow 1s ease,background 1.5s ease;
    -moz-transition:text-shadow 1s ease, background 1.5s ease;
            background-clip:border-box;

  }

  


  nav a:hover{
      text-decoration:none;
    color:yellow;
  
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    border:0px solid olivedrab;
/*
    background:rgba(255,255,255,0.25);
*/
    border-radius:4px;
  
    transition:text-shadow 0.3s ease,background 1s ease;
    -moz-transition:text-shadow 0.3s ease, background 1s ease;
  
  }
  
  /**************************************************
   * Product listings
   *
   *
   **************************************************/ 
   .grid{
  
    
   }
  
  .product{
  position:relative;
    padding:0;
    margin:2px;
    float:left;
    border:1px solid white;
    border-radius:2px;
    width:24%;
    

    min-width:24%;
/*
    min-width:240px;
*/
    border:radius:2px;
    background-color:#faf8e8;
    background-image:url('img/bg_texture_faf8e8.png');
    height:310px;
    display:table-cell;
   }
  
    
     
     .product:hover{
    
      border-color:olivedrab;
      
     }
    /* TODO - Make the product headings a different colour according to it's category
     */
    
     .product h3{
      margin:0 0 7px 0;
      color:white;
      background: olivedrab;
      background-image:url('img/bg_texture.png');
      padding: 2px 0 4px 6px;
      text-shadow:1px 1px 2px black;
    
     }
     .product h4, .product h5{
     margin:0;
      float:right;
      font-size:0.8em;
      color:#444;
    
     }

    .product h6{
      color:white;
      text-align:right;
      position:absolute;
      top :0px;
      right:0;
      float:right;
      text-shadow:2px 2px 3px black;
      opacity:0.8;
      font-weight:normal;
    }
     
    .product input{

      clear:right;
      float:right;
      margin-right:3px;
    }
    
     .product input[type=number],
     .product input[type=submit],
     .product button[type=submit]{

      border:1px solid grey;
      clear:right;
      float:right;  
      font-size:0.8em;
      margin:3px;
      margin-bottom:5px;
      padding:1px;
     }

     .product input[type=number]{
      width:50px;
      float:left;
      
     
     }

        .product input[type=submit]{
        float:left;
        clear:none;
        }
    .product img{
    
      float:left;
      padding:1px;
      margin:3px;
      border:1px solid lightgrey;
      max-width:110px;
    }
    
    .product .price{
    
      font-size:1.2em;
      font-weight:bold;
      text-decoration:none;
      clear:right;
      letter-spacing:1px;
      text-shadow:2px 2px 3px rgba(30, 144, 255,0.5);
      text-shadow:2px 2px 3px white;
      }

     .bordered{

      border-color:black;

    }
    
    .product p{
    margin:1px;
    margin-top:5px;
    clear:both;
    padding:3px 7px;
    font-size:0.8em;
    background:white;
    border:1px dotted olivedrab;
    
    }
    
    
    /* Product list view
     */

      .product_grid{
        
        display:table;

        width:100%;

      }
    
     .product_grid .list{
    
      width:100%;
      float:left;
      clear:left;
      
    
    }
    
    
  td img{

  max-width:55px;
  }
  
  
  div.layout_chooser{
  margin:0 7px;
  border:1px solid lightgrey;
  border-radius:3px;
  font-size:1em;
    color:grey;
  text-align:left;
  }
  

  

  .layout_chooser a{
  position:relative;
  float:right;
  color:grey;
  }
  
    .layout_chooser a:hover{

      color:black;
    
    }
  

.folded{
background: #eee;
max-height:30px;
height:30px;
overflow:hidden;
position:absolute;
margin-bottom:10px;

transition:max-height 1s ease;
-moz-transition:max-height 1s ease;
}

.folded:hover, .folder:focus{
height:auto;
max-height:1000px;
z-index:4000;
transition:max-height 1.5s ease;
-moz-transition:max-height 1.5s ease;
box-shadow:2px 2px  3px grey;

}
  
  
  
  @keyframes flashingcolor {
    from {
      color: olivedrab;
  /*
          border-color: olivedrab;
  */
    }
  
    to {
      color: red;
  
  /*
      border-color: red;
  */
      
    }
  }
  
  @-webkit-keyframes flashingcolor {
    from {
      color: olivedrab;
  /*
          border-color: olivedrab;
  */
    }
  
    to {
      color: red;
  
  /*
      border-color: red;
  */
      
    }
  }
  
  a.live_chat{
  /*border: 1px dashed #fff;*/
  
  /* Use a css animation to make the live_chat button pulse
   */
    animation-duration: 0.7s;
    animation-name: flashingcolor ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  
    -webkit-animation-duration: 0.7s;
    -webkit-animation-name: flashingcolor ;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-out;
  
  background:white;
  color:olivedrab;
  }
  
  a:visited{
    color:white;
    color:black;
    text-decoration:none;
  
  }
  
  a:hover{
    color:white;
    color:black;
    text-decoration:underline;
  }
  
  a:active,a:focus{
  border-color:white;
  outline:none;
  }
  

  a.live_chat:hover{
    color:red;
    background: #FFF;
    animation-name: flashingcolor ;
    animation-iteration-count: 0;
  }
  
  
  
  
  /**
   * Form Elements
   */
  
  input, textarea, button{
    padding:7px;
    background:white;
    color:black;
    border:2px solid black;
    border-radius:2px;
  }

  
  fieldset, textarea{
  border-radius:3px;
  }
  
  fieldset{
    margin: 15px auto;
    min-width:250px;
/*
    max-width:800px;
*/
  border:0;
    
  }

  .white{

    color:white;


  }

  .green{

  color:green;

  }

  .red{

  color:red;
    
  }
  .black{

    color:black;
  }

  .social{

    font-size:1.6em

  }


  legend{
  
  }
  
  label{
  min-width:150px;
  z-index:50;

width:200px;
  display:table-cell;
  text-align:right;
  clear:right;
  margin:12px;
  vertical-align:middle;
  font-weight:bold;
  }
  
  
  .field{
    display:table;
    margin:0;
    border:0px solid red;
    overflow: auto;
    width: 99%;
    border:1px solid rgba(0,0,0,0);

  }

  
  input{

  display:table-cell;
  vertical-align:middle;

  transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  
  }

input, select, textarea, option, button{


     font-family:Helvetica, Arial, Sans-serif;
      font-size:1em;
      font-weight:normal;

}
  
  input:hover{
    
    transition:background 0.5s ease;
    -moz-transition:background 0.5s ease;
    
  }
  
/*
  input[type=text],input[type=number],input[type=password],input[type=email],input[type=tel],textarea, select{
*/
  input,textarea, select{
    border:0;
    border:1px solid grey;

      width:300px;

      margin:5px;
   margin:12px
   
      }
.layout_chooser select{
    width:auto;
  margin:0;

  padding:0;
}

  input[type=text]:hover,input[type=password]:hover,input[type=email]:hover{

    border-color:olivedrab;
    box-shadow: -1px 1px 7px olivedrab;
  

  }



  input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
  
    border:1px solid dodgerblue;
  
    box-shadow: -1px 1px 7px dodgerblue;

    /*
    background: #D2E9FF;*/
   
  }


.login{
  
  margin:12 auto 0 auto;
  
  width:50%;
  border:1px solid lightgrey;
  box-shadow:0;
  overflow:expand;
  -moz-transition:box-shadow 0.7s ease;
}

.login button,
.login a{

  margin:0 12px 12px 0;
  
  
}

.login h2{

  text-align:right;
  margin-right:12px;

}

.login:hover{


box-shadow:-2px -2px 2px lightgrey, 2px 2px 4px grey;
-moz-transition:box-shadow 0.7s ease;
}


.centered{
  text-align:center;
  }

.right{

  text-align:right;

}
  
  .login_feedback{
    visibilty:hidden;
    color:red;
    text-align:right;
  }


  input[type=submit],button{
  font-size:1.1em;
    background:#66C2FF;
    padding:1px 9px 3px 1px;
    color:white;
    border:1px solid dodgerblue;
  
  }
  
  select{
    background:white;
    color:black;
    border:1px solid grey;
    border-radius:2px;
  
  }
  
  input[type=reset]{
    background:#C14E4E;
    color:white;
    border:0px solid #C14E4E;
  }
  
  input[type=reset]:hover{
    border-color:darkred;
    background: firebrick;
    
  }
  input[type=submit]:hover, button:hover{
    border-color:midnightblue;
/*
    border-color:white;
*/
    background:dodgerblue;
  }
  
  input.input_error{
  
    border: 1px solid red;
  }
  
  input.accepted_value{
  border-color:rgb(0,200,0);
  border-color:rgb(107,142,35);
  
  
  }

  input:disabled{
border-color:white;
background:grey;
color:white;
font-weight:bold;



text-shadow:1px 1px 1px black;
}
  
  /* stlyles the tooltip style notes in forms*/
  
  .form_feedback{
  max-width:250px;
  width:45%;

  margin:0;
  font-size:1em;
  visibility:hidden;

  clear:none;
  padding:2px;

  opacity:0;
  vertical-align:middle;
  display:table-cell;
  display:block-inline;
  background-clip:border-box;
  color:dodgerblue;
  text-shadow:1px 1px 2px lightgrey;

  }

  .form_feedback::before{
  
  border-radius: 20px 0 0 20px;
background:red;

  }

  .enabled{

    opacity:1;
    visibility:visible;

  }
  
  input.accepted_value + .form_feedback{
  visibility:visible;
/*
  background:white;
*/
  
/*
  border:1px solid rgb(0,200,0);
  border:1px solid rgb(107,142,35);
*/

  color:rgb(0,200,0);
  color:rgb(107,142,35);
  font-weight:bold;
/*
  font-size:2em;
*/
  opacity:1;
  }
  
  
  input.input_error + .form_feedback{
  visibility:visible;
  opacity:1;
/*
    background:#ff9c9c ;
  background-image:url('img/bg_texture_red.png');
*/
  font-weight:bold;
  color:firebrick;
/*
  border-color:firebrick;
*/
  }
  
  input:focus + .form_feedback {
   visibility:visible;
   opacity:1;
  transition:opacity 0.7s ease;
  -moz-transition:opacity 0.7s ease;
  }
  
  input:hover + .form_feedback{

  visibility:visible;
  }
  
  
  
  textarea{
    border:2px solid black;
    background:white;
    padding:7px;
    color:black;
  }
  
  button{}
  
  /**********************************************************************************************
   * Tables
   */
  
  
  table{
    
    width:auto;
    border-radius:3px 3px 0px 0px;
    margin: 0 auto ;
    margin-bottom:10px;
  
  }

  
  
  thead{
  
  
  }
  
  th{
  
    background:olivedrab;
    background:saddlebrown;
    background:sienna;
    color:white;
    padding:5px;
    border-radius:2px;
  
  }
  
  tr{
  
  }
  
  /*
   * http://www.w3.org/Style/Examples/007/evenodd.en.html
   */
  
  table.oddeven tr:nth-child(even) {
    background: #fff;
  }
  table.oddeven tr:nth-child(odd) {
    background: #eee;
  }

  table.evenodd tr:nth-child(odd) {
    background: #fff;
  }
  table.evenodd tr:nth-child(even) {
    background: #eee;
  }


  
  table.oddevencol td:nth-child(even) {
    background: #fff;
  }
  table.oddevencol td:nth-child(odd) {
    background: #eee;
  }
  
  
  table.hoverable tr:hover{
    background:#ddd;
  }
  
  table.hoverable td:hover{
    background:rgba(0,127,0,0.4);
  
  }
  
!td .red{
background:firebrick;
}

/************************************
 *
 * Reports
 *
 */

.report_tile{

  border:1px solid lightgrey;
  border-radius:4px;
  margin:14px ;
  float:left;
  width:30%;
  height:100px;
  max-width:30%;
  padding:0;
  background: #eee;
  background-image:url(',.img/bg_texture_white.png');
  display:table;
}



  .report_tile h2{
  display:table-caption;
  color:white;
  margin:0;
  border-radius:3px 3px 0 0;
  background:#333;
  background-image:url('./img/bg_texture_black.png');
  text-shadow:1px 1px 1px rgba(0,0,0,0.6);
  }

.report_tile:hover{

  
  
}

.report_detail{
  display:table-cell;
  vertical-align:middle;
  margin:12px;
  
  border:1px solid grey;
  border-radius:3px;
  width:60px;
  max-height:50px;
  line-height:1;
  background:white;
  text-align:center;
}
/*
.report_detail p:first-letter {

  font-size:2em;

}
*/


/************************************
 * 
 * LIVE CHAT
 *
 *
 *
 *
 *
 */

.chat_logged_in,
.chat_window
{
  min-height:400px;
  border:2px solid lightgrey;
  border-radius:3px;
}


.chat_window{
  background: #eee;

  height:400px;
  max-height:400px;
  overflow:auto;
  margin: 0 4px 0 16px;
  width:74%;
  float:left;
}

.chat_logged_in{
  margin: 0 16px 0 4px;
  float:right;
  width:20%;

}

.chat_logged_in h3{
margin-top:0;
color:white;
background:olivedrab;
background-image:url('./img/bg_texture.png');

}

.chat_message{
  clear:both;
  width:100%;

}

.chat_message input[type=text],
.chat_message textarea{
  width:70%;
  }

.message{
  background: #fff;
  margin:3px;
  margin:5px 3px;
  margin-bottom:9px;
  width:auto;
  border:1px solid lightgrey;
  border-radius:3px;
    padding:6px;
    overflow:auto;
  box-shadow:0px 2px 3px grey;
}

.message h6{
  margin:0;
  color:grey;
  width:155px;
  border:1px solid lightgrey;
  background:#eee;
  color:grey;
/*
  border:0;
*/
  border-radius:3px;
  float:right;

}



 .message a,
 .message a:visited{

  color:black;

 }



.green_button{

/*
background:olivedrab;
background-image:url(./img/bg_texture_white.png);

border:1px solid olivedrab;
*/
}

.green_button:hover{


background:olivedrab;
text-shadow:1px 1px 5px black;
background-image:none;


}


.red_button{

background:#ff9c9c;
background-image:url(./img/bg_texture_ff9c9c.png);

border:1px solid red;
}

.red_button:hover{

background:red;

}

.header{
  

}
