<h1>My Account</h1>

  
 <div class='page_top'>
  <p>Use the options below to change your email address, delivery details, site preferences and password.</p>

 </div>
    
<div class='butt_after float_left'>

  <h2> <i class='fa fa-info-circle'></i> Account info</h2>
      <p class='page_top'><b>IMPORTANT</b> Changing your email address will send a confirmation email to that address. Until your account is reconfirmed you will
      be unable to access your account.</p>
       
      
      

      <div class='field float_left'>
        <label for='accountnum'>Account number</label><input type='text' name='accountnum' value='<?=$acc_num?>' disabled >
      </div>
      
      <div class='field'>
        <label for='accountnum'>Username</label><input type='text' name='username' value='<?=$userinfo['username']?>' disabled >
      </div>
      <form action='./?p=account' method='post'>
      <div class='field'>
        <label for='accountnum'>Email Address</label><input type='text' name='email' value='<?=$userinfo['email']?>' >
      </div>
      
      <div class='field centered'>
        <button type='submit' name='a' value='email' ><i class='fa fa-save'></i> Save </button>
    </div>
    </form>
</div>








<div class='butt_after float_left'>
    <h2> <i class='fa fa-home'></i> Delivery Address</h2>
      <p class='page_top'>Be sure to keep your address details up to date as this will be where your goodies are sent to!</p>
    <form action='./?p=account' method='post'>
    <div class='field'>
      <label for='house'>House Name/No</label>
      <input type='text' name='house' placeholder='' value='<?=$userinfo['address_details']['house']?>' />
    </div>
    <div class='field'>
      <label for='address'>Address </label>
      <textarea name='address' rows=5><?=$userinfo['address_details']['address']?></textarea>
    </div>
    <div class='field'>
      <label for='country'>Country</label>
      <select name='country'>
        
        <option value='uk'>United Kingdom</option>
        <option value='dk'>Denmark</option>
      </select>
    </div>
    <div class='field'>
      <label for='postcode'>Postcode</label>
      <input type='text' name='postcode' placeholder='' value='<?=$userinfo['address_details']['postcode']?>' />
    </div>
    
    <div class='field centered'>
      <button type='submit' name='a' value='address'><i class='fa fa-save'></i> Save </button>
    </div>
    </form>
</div>    




<div class='butt_after float_left'>
    <h2> <i class='fa fa-gears'></i> Preferences</h2>

    <p class='page_top'>Choose which page you want to be redirected to when you login and select the language you wish to view the site in.<br>
    <br><span class='red'>
    <i class='fa fa-warning '></i> PLEASE NOTE: This feature has not yet been implemented fully.<br>
    The database is setup to accept and store these values but the code to retrieve the values,
    populate this form and allow updating the info has yet to be put in place. 
    </span>
    </p>
    <div class='field'>
    
      
    
      <label for='landing_page'>Default page</label>
      <select name='landing_page'>
        <option value='default'>default(account)</option>
        <option value='products'>products</option>
        <option value='baskets'>saved baskets</option>
    
      </select>
    
    </div>
    
    
    <div class='field'>
          <label for='language' ><i class='fa fa-language'></i> Select Languge</label>
          <select name='language'>
            <option selected>English (UK)</option>
            <option>Danish (DK)</option>
          </select>
      </div>
    <div class='field centered'>
      <button type='submit'><i class='fa fa-save'></i> Save </button>
    </div>
</div>


 
<div class='butt_after float_left'>

<form>
    <h2> <i class='fa fa-lock'></i> Change Password</h2>
    <div class='field centered'>
      <p class='page_top'>
      To change your password, click the reset password button below.
      <br><br>
      A password reset email will be sent to you containg a link to change your password.
      </p>
    </div>
    <div class='field centered'>
    <form action='./?p=reset_account' method='get' >
    <button type='submit'><i class='fa fa-lock'></i> Reset Password </button>
    </form>
    </div>
  
</form>

</div>
