<h1> Site Configuration</h1>
<p class='page_top red'>
<i class='fa fa-frown-o fa-2x'></i> PLEASE NOTE: This feature is not yet fully implemented.
<br>These configuration values have yet to be transferred to the database and the code implemented
to populate the form and allow updating them via the web interface.<br>
<br>
<span class='green'><i class='fa fa-smile-o fa-2x'></i>
HOWEVER, ALL of these settings are currently stored in the <b>config.php</b> file which can be edited by
hand to modify these values.
<br>
The values displayed in the form below are the actual values stored in <b>config.php</b> and used throughout the site
</span>

</p>
<fieldset>

<div class='butt_after float_left'>

  <h2><i class='fa fa-home'></i>Business Details</h2>
  <p class='page_top' >This information is used for invoicing, emails and to brand the site.</p>

  

  <div class='field'>
    <label for='site_name'>Site Name</label>
    <input name='site_name' type='text' value='<?=$conf['core']['company_name']?>' title='' />
    <div class='form_feedback enabled'>Enter the name of the store. This will appear throughout the site</div>
  </div>

  <div class='field'>
    <label for='company_address'>Business Address</label>
    <input name='company_address' type='text' value='<?=$conf['core']['company_address']?>' title='' />
    <div class='form_feedback enabled'>Enter the name of the store. This will appear throughout the site</div>
  </div>
  
  <div class='field'>
    <label for='vat_number'>VAT Number</label>
    <input name='vat_number' type='text' value='<?=$conf['core']['vat_number']?>' title='' />
    <div class='form_feedback enabled'>The VAT number for invoices and the site footer</div>
  </div>

  <div class='field centered'>

    <button type='submit'><i class='fa fa-save'></i> Save</button>
    
  </div>


</div>

<div class='butt_after float_left'>

  <h2><i class='fa fa-desktop'></i> Display Settings</h2>

  <p class='page_top' >Configure how the site looks</p>

  
  <div class='field'>
    <label for='site_name'>Site style</label>

    <select name='style'>
      <option>default</option>

    </select>

    <div class='form_feedback enabled'>Choose the stylesheet that the site will use.<br>
                                        Alternative stylesheets should be uploaded  via sftp/ftp into the <b>style</b> directory.<br>
                                        They will then become available here
                                        
    </div>
  </div>





  <div class='field'>
    <label for='use_google_image'>Use Google Image Search for products with no image</label>
    <input name='use_google_image'type='checkbox' checked>
    <div class='form_feedback enabled'>If enabled the site will source images for products that do not have an image uploaded for them 
                                      using Google Image search API. The images retrieved will all be licensed under an appropriate
                                      Creative Commons license.</div>
  </div>

  <div class='field'>
    <label for='use_cdn_jquery'>Use CDN JQuery</label>
    <input name='use_cdn_jquery' type='checkbox' checked>
    <div class='form_feedback enabled'>If enabled the site will source JQuery from google's CDN. Disable to use the local version</div>
  </div>

  <div class='field centered'>

    <button type='submit'><i class='fa fa-save'></i> Save</button>
    
  </div>


</div>



<div class='butt_after float_left'>

  <h2><i class='fa fa-users'></i> User settings</h2>

  <p class='page_top' >These settings will determine the user experience</p>



  <div class='field'>
    <label for='business_address'>Allow user registration</label>
    <input type='checkbox' checked>
    <div class='form_feedback enabled'>If enabled then users will be able to sign up using the register page</div>
  </div>






  
  <div class='field'>
    <label for='vat_number'>Stock Alert Email</label>
    <input name='business_address' type='email' value='<?=$conf['core']['manager_email']?>' title='' />
    <div class='form_feedback enabled'>The email address that will receive stock alert emails.<br> Only <b>ONE</b> address is supported. <br>If multiple users are required to receive notifications then consider using a mailing list or shared mailbox.</div>
  </div>


  <div class='field centered'>

    <button type='submit'><i class='fa fa-save'></i> Save</button>
    
  </div>


</div>







<div class='butt_after float_left'>

  <h2><i class='fa fa-search-plus'></i> Search Engine Optimisation</h2>

  <p class='page_top' >Ensure that these fields are filled in as accurately as possible to ensure that the site is indexed properly by search engines.

    For more information on how to fill these fields out for better indexing by search engines see <a href=''></a>

  </p>


  <div class='field'>
    <label for='classification'><i class='fa fa-message'></i> Site Classification</label>
    <input name='description' type='text' value='<?=$conf['core']['site_classification']?>' title='' />
    <div class='form_feedback enabled'>
    </div>
  </div>

  <div class='field'>
    <label for='description'><i class='fa fa-message'></i> Site Description</label>
    <input name='description' type='text' value='<?=$conf['core']['site_description']?>' title='' />
    <div class='form_feedback enabled'>This one-liner should describe the site and what it is about.
    </div>
  </div>

  <div class='field'>
    <label for='keywords'><i class='fa fa-message'></i> Site Keywords</label>
    <input name='keywords' type='text' value='<?=$conf['core']['site_keywords']?>' title='' />
    <div class='form_feedback enabled'>Choose around 20 keywords, separated by commas that are common to the site<br>
    e.g. travel, tourism, holiday, flights, car rental, last minute, breaks 
    </div>
  </div>

  <div class='field centered'>

    <button type='submit' name='a' value='social'><i class='fa fa-save'></i> Save</button>
    
  </div>


</div>



<div class='butt_after float_left'>

  <h2><i class='fa fa-bullhorn'></i> Social Media</h2>

  <p class='page_top' >Add links to social media site accounts</p>



  <div class='field'>
    
    <label for='google_plus'><i class='fa fa-google-plus-square'></i> Google+</label>
    <input name='google_plus' type='text' value='<?=$conf['social']['google_plus']?>' title='' />
    <div class='form_feedback enabled'>If set, will display a link in the footer
    </div>
  </div>

  <div class='field'>
    <label for='twitter'><i class='fa fa-twitter-square'></i> Twitter</label>
    <input name='twitter' type='text' value='<?=$conf['social']['twitter']?>' title='' />
    <div class='form_feedback enabled'>If set, will display a link in the footer
    </div>
  </div>
  <div class='field'>
    <label for='facebook'><i class='fa fa-facebook-square'></i> Facebook</label>
    <input name='facebook' type='text' value='<?=$conf['social']['facebook']?>' title='' />
    <div class='form_feedback enabled'>If set, will display a link in the footer
    </div>
  </div>

  <div class='field centered'>

    <button type='submit' name='a' value='social'><i class='fa fa-save'></i> Save</button>
    
  </div>







</fieldset>
