<h1>Get in touch</h1>
<div class='page_top'>
<p>We love to hear from our customers and prospective customers and appreciate your feedback on all aspects of our business.</p>
<p>You can use the form below to send us a message, leave your telephone number too if you'd like one of to ring you back regarding your enquiry instead</p>

</div>
<fieldset>
  <form action='./?p=contact' method='post'>

  <div class='field '>
    <label for='name' class='required' >Your Name</label>
    <?=$name_alt?>
    <input autofocus <?=$name_disabled?> required class='<?=$name_class?>' type='text' name='name' value='<?=$name_val?>'/>
          <div  class='form_feedback'><?=$name_message?></div>

  </div>
  <div class='field '>
    <label for='email' class='required'>Your Email Address</label>
    <?=$email_alt?>
    <input <?=$name_disabled?>  required class='<?=$email_class?>' type='email' name='email'  value='<?=$email_val?>'/>
          <div class='form_feedback'><?=$email_message?></div>

  </div>
  <div class='field'>
    <label for='phone'>Your Telephone Number</label>
    <input type='tel' name='phone'/>
          <div class='form_feedback'></div>

  </div>
  
  <div class='field <?=$message_class?>' >
    <label for='message' class='required'>Your message </label><textarea required name='message'></textarea>
            <div class='form_feedback'><?=$message_message?></div>

</div>
<div class='field centered'>
  <button type='submit'> <i class='fa fa-envelope'></i> Send</button>
  </div>
</form>
</fieldset>
