<script >
  // jQuery Document
  $(document).ready(function(){
    
   

    // If user submits the form then send the message

    $("#send_message").click(function(){	
      var sent_message = $("#message").val();
      var sending_to = $("#replying_to").val();
      $.post("chat_handler.php?sendmessage", {text: sent_message,replying_to: sending_to});
      // Reset the value of the input so
      $("#message").val("");
      // Give focus back to the message inputs
      $("#message").focus();
      // Call getMessages here to make our input appear faster,
      getMessages;
      return false;
    });


    // Keep polling the chat_handler for new messages.


    // Check for new messages 
    function getMessages(){		
      
      $.ajax({
        url: "chat_handler.php?getmessage",
        // Don't cache the response, we need this to be instantaneously updated
        cache: false,
        success: function(html){		

          // Chat_handler.php returns html formatted messages so all we need do here is
          // Add the new message into the window
          
          $("#chat_window").append(html);

          // Neat one liner that sorts out the scrolling of the window
          // TAKEN FROM : http://stackoverflow.com/a/14918926
          $("#chat_window").animate({ scrollTop: $("#chat_window")[0].scrollHeight}, 1000);
          
        },
      });
    }

    // Refresh every n milliseconds
    setInterval (getMessages, 2000);	
 
  });
  
</script>

<noscript>
You will need a browser with javascript enabled in order to make use of our live chat feature. 

</noscript>

<h1>Live Chat</h1>

  <?=$html?>

