<form action='./?p=register' method='get'>
 <p class='page_top'><i class='fa fa-info-circle fa-2x blue'></i>
 Some parts of the site require you to be logged in. If you don't have an account then you can register one in moments with just an email address.
    <br>

    <span class='field right'>
      <button name='p' value='register' type='submit' class='right'><i class='fa' fa-pencil-square-o'></i> Sign Up</button>
    </span>
 </p>
 </form>
<form method='post' >
  <fieldset class='login'>
<i class='fa fa-lock fa-lock fa-5x ' style='color:lightgrey;position:absolute;'></i>
 <h2>
   Sign in
 </h2>

    <div class='field'>
      <label for='username'><?=$lang['login']['username']?></label>
      <input autofocus name='username' type='text' /><br />
    </div>
    <div class='field'>
      <label for='password'><?=$lang['login']['password']?></label>
      <input name='password' type='password' /></td>
    
    </div>
   
   <?=$login_error?>     
    <div class='field right'>
      <button type='submit'> <i class='fa fa-sign-in'></i><?=$lang['login']['button_action']?></button>
      <br>
      <a class='small' href='?p=reset_account'><i class='fa fa-minus-circle'></i><?=$lang['login']['reset_login']?></a>
    </div>
    
  </fieldset>  
</form>
