<form action='./?p=recipe_admin' method='post'>
  <input type='hidden' name='recipe_id' value='<?=$recipe_id?>' />
 <div class='field'>
    <label for='name'>Recipe Name</label>
    <input class='<?=$recipe_name_class?>' type='text' name='name' value='<?=$recipe_name?>'/>
    <div class='form_feedback '> <?=$recipe_name_feedback?></div>
    
  </div>

  <div class='field'>
    <label for='serves'>Serves</label>
    <input class='<?=$recipe_serves_class?>' type='number'  min="1" name='serves' value='<?=$recipe_serves?>'/>
    <div class='form_feedback'><?=$recipe_serves_feedback?></div>
    
  </div>

  <div class='field'>
    <label for='prep_time'>Prep time</label>
    <input class='<?=$recipe_prep_time_class?>' type='number'  min="0" name='prep_time' value='<?=$recipe_prep_time?>'/>
    <div class='form_feedback'><?=$recipe_prep_time_feedback?></div>
    
  </div>

  <div class='field'>
    <label for='cook_time'>Cook Time</label>
    <input class='<?=$recipe_cook_time_class?>' type='number' min="0" name='cook_time' value='<?=$recipe_cook_time?>'/>
    <div class='form_feedback'><?=$recipe_cook_time_feedback?></div>
    
  </div>

 	   
  <div class='field'>
    <label for='method'>Recipe Method</label>
    <textarea class='<?=$recipe_method_class?>' name='method'><?=$recipe_method?></textarea>
    <div class='form_feedback'><?=$recipe_method_feedback?></div>
    
    
  </div> 
 	  
  <div class='field'>
    <label for='ingredients'><?=$conf['core']['company_name']?> Ingredients</label>
    <div class='account_history'>
      <table>
        <?=$options?>
      </table>
    </div>  
    </select>
    <div class='form_feedback'>The ingredients available on this site. </div>
    
  </div>


  <div class='field centered'>
    <button type='cancel' class='red_button' </i> Cancel</button>
    <button type='submit' name='a' value='<?=$recipe_action?>' ><i class='fa fa-save'></i> <?=$button_label?></button>
    
  </div>
</form>
