<form name='new_user' action='./?p=users' method='post'>

<div class='field'>
 <label for='username'>Username</label> <input name='username' type='text' />
</div>

<div class='field'>
</div>

<div class='field'>
<label for='group'>User role</label>
  <select name='group'>
  <?=$group_options?>
  </select>
</div>

<div class='field'>
 <label for='email'>Email Address</label> 
  <input type='email' name='email' />
</div> 

<div class='field centered'>
  <i class='fa fa-info-circle blue'></i> User will be sent an activation email and will create their password when activating their account
</div>

<div class='field centered'>
  <button type='cancel' class='red_button' action='./?p=users'><i class='fa fa-minus'></i> Cancel</button>
  <button type='submit'><i class='fa fa-save'></i> Create User</button>
</div>

</form>
