  <h2 class='slidedown'><i class='fa fa-chevron-down-circle'></i> <?=$page_title?> stock item</h2>
  
  <hr>
  
  <form name='new_stock' action='./?p=inventory' method='post'>
    <?=$product_id_field?>
    <div class='field'>
     <label class='required' for='product_name'>Product Name</label>
     <input required name='product_name' type='text' value='<?=$product_info['name']?>'/>
    </div>
    
    <div class='field'>

    </div>

    <div class='field'>
    <label class='required' for='category' >Category</label>
      <select required name='category'>
    
      <?=$group_options;?>

      </select>
    </div>
    
    <div class='field'>
      <label class='required' for='description'>Product description</label> 
      <textarea required name='description'><?=$product_info['description']?></textarea>
    </div>
    
    <div class='field'>
      <label class='required' for='price'>Price</label> 
      <input required type='number' name='price' value='<?=$product_info['price']?>'/>
    </div> 
    <div class='field'>
      <label class='required' for='qty'>Stock Qty</label> 
      <input  required type='number' min='0' name='qty' value='<?=$product_info['stock_qty']?>'/>
    </div> 
    <div class='field'>
      <label class='required' for='qty'>Alert level</label> 
      <input required type='number' min='0' name='reorder_qty' value='<?=$product_info['reorder_qty']?>'/>
    </div> 
    
    <div class='field centered'>
      <button type='cancel' class='red_button' action='./?p=inventory' formnovalidate><i class='fa fa-minus'></i> Cancel</button>
      <button type='submit' name='a' value='<?=$page_action?>'><i class='fa fa-save'></i> <?=$button_label?></button>
    </div>
    
  </form>
  
