
<fieldset class='themed'>
  <h2>
  <i class='fa fa-pencil-square-o'></i>  Register
  </h2>
  <p class='page_top'>Signing up is easy, you won't have to give us any more info than required. We can sort out your delivery details once you place your first order.</p>

    <form name='register' action='./?p=register' method='post'] >
        <div class='field'>

          <label for='username' class='required' >Username</label>
          <input autofocus name='username' class='<?=$username_input_class?>' type='text' value='<?=$username_value?>' />
          <div class='form_feedback'><?=$username_message?></div>
        </div>

        <div class='field'>
          <label for='password' class='required'>Password</label>
          <input  class='<?=$password_input_class?>' name='password' type='password' value='<?=$password_value?>' />
          <div class='form_feedback'><?=$password_message?></div>
        </div>

        <div class='field'> 
          <label for='password2' class='required'>Confirm password</label>
          <input name=password2 type='password' value='<?=$password_value?>' />
          <div class='form_feedback'><?=$password_message_confirm?></div>
        </div>

        <div class='field'>
         
          <?
          /* Use type 'email' from the latest html5 spec
          http://www.w3schools.com/Tags/att_input_type.asp
          This will perform email address validation on all current browsers
          EXCEPT: Safari
          */
          ?>

          <label for='email' class='required'>Email</label>
          <input name='email' class='<?=$email_input_class?>' type='email' value='<?=$email_value?> '/>
      
          <div class='form_feedback'><?=$email_message?></div>
        </div>
        
        <div class='field centered'>
          
          <button type ='submit'><i class='fa fa-pencil-square-o'></i><?=$lang['login']['signup_message']?></button>
          
        </div>

    </form>
  </p>
</fieldset>
