<form action='./?p=reset_account' method='post'>
<h1>Reset your account password</h1>
<div class='field'>
  <label for='password'>
	new password
  </label>
<input type='password' name='password' />

</div>
<div class='field'>
  <label for='password2'>
	confirm password
  </label>
<input type='password' name='password2' />

</div>
<div class='field'>
<input type='submit' value='update' />

</div>
</form>
