<form action='./?p=reset_account' method='post'>
<fieldset>
  <legend>
    <?=$lang['forms']['account_reset']['form_title']?>
  </legend>
  <div class='field'>
  <label for='email_address'><?=$lang['forms']['account_reset']['email_address']?></label>
  <input type='email' name='email_address' style='width:400px;'/>
  <input type='submit' value='Continue' />
  </div>
</form>
</fieldset>
