<div class='field'>
<form action='./?p=search' method='get'>

<label for='q'>&nbsp;</label><input list='search' type='search' placeholder='Search...' name='q' />
<button type='submit' name='p' value='search' ><i class='fa fa-search'></i> Go</button>

  </form>
</div>
