<div class='page_top centered' style='width:80%;margin:23px auto;'>
<i class='fa fa-bug huuge' ></i> 
<h1>404 Page not found</h1>
<p>The page view you requested could not be displayed.</p>
<p>The page may have been: moved or deleted, or you are not authorised to view it.</p>
<ul style='text-align:left;text-indent:12px;list-style:none' >You can try the following
<li>If you aren't logged in, try <a class='yellow' href='./?p=login'>Signing in</a></li>
<li>If you are logged in then try the action again, it might have been a glitch</li>
<li>Use the search box below to try to find the thing you were looking for.</li>
</ul> 
<?php include"./html/forms/search.html";?>
</div>
