<article id='checkout'>
  <form name='basket' action='./?p=basket' method='post'>

<table class='oddeven'>
  <tr>
    <th>
      Product code
    </th>
    <th>
      Product name
    </th>
    <th>
      price
    </th>
    <th>
      qty
    </th>
    <th>
      sub-total
    </th>
  </tr>
  <?=$tdata?>
  <tr>
    <td colspan='3'>
      <label for='promo_code'>
        Apply Promo Code
      </label>
    </td>
    <td>
      <input type='text' name='promo_code' <?=$disabled?> />
    </td>
    <td>
      <button type='submit' name='a' value='apply code' <?=$disabled?>> apply code </button>
    </td>
  </tr>
</table>

<div class='field'>


</div>



<div id='checkout_bar'>

  <button type='submit' class='red_button' name='a'value='clear_basket'><i class="fa fa-trash-o"></i>  empty basket</button>
  <button type='submit' name='a' value='update_basket'><i class="fa fa-refresh"></i> update basket</button>
  <button type='submit' name='a' value='save_basket'><i class="fa fa-save"></i> save basket</button>
  <button type ='submit' class='green_button' name='order' value='Place order'><i class="fa fa-check"></i> Place order</button>

</div>
</form>
</article>

