<div class='report_tile'>
  <h2><i class='fa fa-truck'></i> Packages For Dispatch</h2>
   
  <div class='report_detail'>
    <h1><?=$packed_orders?></h1>
  </div>


</div>

<p class='page_top right'>These packages are now ready for dispatch to the customer.
<br><br>Once the goods are dispatched click on the 'Order dispatched' button.
<br><br><br>
<i class='fa fa-info-circle blue'> You can copy and paste the address into the labelling software!</i>
</p>


<hr style='clear:both'>

<?=$html?>
