<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
   
    <script>

    // Script based apon that found at http://www.sitepoint.com/find-a-route-using-the-geolocation-and-the-google-maps-api/
    //
    // Modifications carried out include:
    //
    // Removed 'to' section and hard coded Location into the script to be retrieved from config/database
    // Added extra feedback - spinner icon
    // Used  JQuery calls to hide and show elements
    

      function calculateRoute(from, to) {
        // Set options as specified at
        // TODO - google map api var page here
        var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(52.00, 0.0),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        // Show and draw the map
        $("#map").show();
        var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: from,
          destination: to,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };
        directionsService.route(
          directionsRequest,


          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: mapObject,
                directions: response
              });
            }
            else
              $("#form_feedback").html("<i class='fa fa-frown-o'></i> It hasn't been possible to retrieve the directions at this time. Please try again later.'");
          }
        );
      }

      $(document).ready(function() {

        // Hide the map div and address input box to start with
        $("#address").hide();
        $("#map").hide();
        
        // Check browser supports the Geolocation API
        
        if (typeof navigator.geolocation == "undefined") {
          $("#form_feedback").text("<i class='fa fa-frown-o'></i> There seems to be a problem with your browser that means this service won't work");
           
          return;
        }

        // Action on findme button press

        $("#findme").click(function(event) {
          event.preventDefault();
          var addressId = this.id.substring(0, this.id.indexOf("-"));
                $("#form_feedback").html("<i class='fa fa-spinner fa-spin'></i> Attempting to locate you");

          navigator.geolocation.getCurrentPosition(function(position) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
              "location": new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
            },
            function(results, status) {
              if(status == google.maps.GeocoderStatus.OK){
	
                $("#address").show();

                //$("#" + addressId).val(results[0].formatted_address);
                $("#findme").val(results[0].formatted_address);
                
              	$("#form_feedback").html("We found you");
                $("#getdirections").submit();
              }
              else{
                $("#form_feedback").html("<i class='fa fa-frown-o'></i> Unable to retrieve your address");
              };
            })
          },
          
          function(positionError){
            //$("#form_feedback").html("Error: " + positionError.message + "<br />");
            $("#form_feedback").html("<i class='fa fa-frown-o'></i> We weren't able to locate you. Please enter your address in the box to continue");

            // On error reveal the address input and give it focus so that the address may be entered manually

            $("#findme").show();
            $("#address").show();
            $("#address").focus();
            
          },
          {
            enableHighAccuracy: true,
            timeout: 5 * 1000 // 5 seconds
          });

        });

        // Action for Get Directions button press

        $("#getdirections").submit(function(event) {
          $("#address").show();
          $("#map").show();
          event.preventDefault();
          calculateRoute($("#address").val(), '<?=$conf['core']['shop_location']?>');

        });

      });
    </script>
    
    <h1><i class='fa fa-car'></i> Get directions to our Farm Shop</h1>

    <div class='page_top'>
    <p>Just like our farm, our shop is open 7 Days a week.</p>
    <p> Why not make bring the kids along to see the animals and make a day of it!</p>
    <p>We're located in <b><?=$conf['core']['shop_location']?></b></p>
    <p>To get driving directions to us from <b>google maps</b>, click on the <i>find me</i> button below. </p>

    </div>

    <form id="getdirections" name="getdirections" action="#" method="get">

    <div class='field'>
      <label for="address">&nbsp;</label>
      <input type="text" id="address" name="address" required="required" placeholder="Click 'find me' or enter your address" size="30" />
<!--      <a id="findme" href="#"><i class='fa fa-location-arrow'></i> Find Me</a>-->
    <div id='form_feedback' class='form_feedback input_error' style='opacity:1;visibility:visible'></div>

    </div>


    <div class='field centered'>    <button id="findme" ><i class='fa fa-location-arrow'></i> Find Me</button>

      <button type="submit" ><i class='fa fa-car'></i> Get Directions</button>
    </form>

</div>

    <div id="map"></div>
    

