  <footer>
       <span style='float:left;'>
        <i class='fa fa-html5' title='html5'></i>
        <i class='fa fa-css3' title='css3'></i>


       </span>

       <span style='float:right;'>
       <a href='#'> <i class='fa fa-facebook-square white social'></i></a>
   
  

        <a href='#'><i class='fa fa-google-plus-square white social'></i></a>

        <a href='#'><i class='fa fa-twitter-square white social'></i></a>
     </span>
    <h6 style='clear:both;'>
      <i class='fa fa-building'></i><?php echo  $conf['core']['company_name'] ." : " . $conf['core']['company_address'] ;?><br>  VAT Number: <?php echo $conf['core']['vat_number'] ?>
 
    </h6>
 <h6 style='clear:both;'><b><i class='fa fa-exclamation'></i> IMPORTANT NOTICE: This site may store cookies on your computer to help us to enhance your experience whilst using this site. By using this site you agree to us doing this.</b>

  </footer>
  <div id='version'>
  [+] <?=$conf['core']['app_name']. ' '. $conf['core']['app_version'] .' (build: '.$git_build_ver .') Page rendered in '.pageRenderTime() . ' seconds'?>

<?php
  
  debug();
  ?>  

  </div>


</body>

</html>
