<?php
 // TODO if set google analytics key then include stuff for that

  $search_suggestions = $product->makeSearchSuggestions();

  $admin_links = '';
  $manager_links = '';
  $customer_links  ='';
  $accountant_links  ='';
  $orderpicker_links  ='';
  $chat_op_links = '';
  $order_picker_balloon = '';
  if(isset($userinfo)){

    $num_baskets = $shopping_basket->numSaved();

     /* THe setting $conf['core']['privileges']['stack'] is used to determine whether to
      * create modular roles for each account type and display only their links in the menu or
      * to 'stack them' so that each successive level ends up with more menu items (the latter is default)
      */


    switch($userinfo['group']){

      // Site Admin

      case '5':

                    
        $admin_links .= makeNavLink('configuration','fa-gears','Site Settings');
        

        if($conf['core']['priveleges']['stack'] != true){break;;}

      // Manager

      case '4':
        $manager_links .= makeNavLink('recipe_admin','fa-files-o','Recipes');
        $manager_links .= makeNavLink('inventory','fa-book','Stock Management');
        // make sure this doesn;t appear twice when privileges are stacked
        $manager_links .= ($conf['core']['priveleges']['stack'] != true) ? makeNavLink('reports','fa-bar-chart-o','Statistics') : '';
        $manager_links .= makeNavLink('users','fa-users','Users & Roles');
        //$manager_links .= makeNavLink('configuration','fa-gears','Site Settings');

       if($conf['core']['priveleges']['stack'] != true){break;;}

      // Accountant

      case '3':
          $accountant_links .= makeNavLink('reports','fa-bar-chart-o','Statistics');

      if($conf['core']['priveleges']['stack'] != true){break;;}

      // Administrator

      case '2':

      // currently unused

      if($conf['core']['priveleges']['stack'] != true){break;;}

      // Order Picker

      case '1':

        $message_count = count($message->awaitingResponse());

        $orderpicker_links .= makeNavLink('messages','fa-envelope-o',"Messages <b class='number_spot red_bg'>$message_count</b>");
      
        $order_count = count($orders->getPackableOrders());
        
        $orderpicker_links .= makeNavLink('pack','fa-cubes',"Order Pack <b class='number_spot red_bg'>$order_count</b>");

        $dispatch_count = count($orders->getPackedOrders());
        
        $orderpicker_links .= makeNavLink('dispatch','fa-truck',"Goods dispatch <b class='number_spot red_bg'>$dispatch_count</b>");

        $order_total = $order_count+$dispatch_count+$message_count;

        $order_picker_balloon = "<b class='number_spot red_bg'>$order_total</b>";
        
      if($conf['core']['priveleges']['stack'] != true){break;;}

      // Customer

      //case '0':

        //$customer_links .= makeNavLink('savedbaskets','fa-shopping-cart'," Saved Baskets (<b>$num_baskets</b>)");
        //$no_of_orders = count($orders->getOrderHistory());
        //$customer_links .= makeNavLink('order_history','fa-credit-card',"Order History (<b>$no_of_orders</b>)");
        //$customer_links .= makeNavLink('account','fa-book','My Account');
        
        
      //break;;


    }

    // Customer
    // Note: all account types are presented with the customer links
     $customer_links .= makeNavLink('account','fa-book','My Account');
  
      $no_of_orders = count($orders->getOrderHistory());
      $customer_links .= makeNavLink('order_history','fa-credit-card',"Order History <b class='number_spot'>$no_of_orders</b>");
      $customer_links .= makeNavLink('savedbaskets','fa-shopping-cart'," Saved Baskets <b class='number_spot'>$num_baskets</b>");

    $logout_link = makeNavLink('logout','fa-sign-out',"Sign out");

 
    // Account Registration

    $reg_link = "<li id='usermenu'>
                    <a href='#'>
                 <i class='fa fa-chevron-circle-down'></i> Hi ". ucwords($userinfo['username'])
                      ."$order_picker_balloon
                      </a>
                      ";


    // Logged in User Links

    $account_link = "
      <ul>
        $admin_links
        $manager_links
        $accountant_links
        $chat_op_links
        $orderpicker_links
        $customer_links
        $logout_link
      </ul>
    ";

  }
  else{


    // Display sign up / sign in links

    $account_link = "<li><a href='./?p=login'><i class='fa fa-sign-in'></i> ". $lang['login']['signin_message'] ."</a></li>";
      
    if($conf['users']['can_register']==true){

      $reg_link = "<li><a href='./?p=register'><i class='fa fa-pencil-square-o'></i> ". $lang['login']['signup_message'] ."</a> </li>";

    }
    else{
      // make the register link empty
      $reg_link = "";

    }
    
  }

   //$total = money_format('%i',$shopping_basket->totalPrice()['basket_subtotal']);
   $total = $shopping_basket->totalPrice()['basket_subtotal'];

  $search_query = (isset($_GET['q']) ? $_GET['q'] : '');

?>




<!DOCTYPE html>
<html lang='<?php echo $conf['core']['language_short'];?>'>
<head>
<meta charset="UTF-8">
<title>
  <?=$conf['core']['strapline'].' ('.$conf['core']['full_version'].')'?>
</title>


		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="9906420" />
		<meta name="copyright" content="&copy; Copyright 9906420" />
		<meta name="audience" content="all" />
		<meta name="language" content="en" />

		<meta name="description" content="<?=$conf['core']['site_description']?>" />
		<meta name="keywords" content="<?=$conf['core']['site_keywords']?>" />
		<meta name="classification" content="<?=$conf['core']['site_classification']?>" />

		<meta name="rating" content="general" />
		<meta name="distribution" content="global" />



<!-- Uncomment this to use googleCDN for the font (Recommended)
Added the local copy due to connection outages during development
 <link href='https://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
-->

 <link href='./style/fonts/dosis.css' rel='stylesheet' type='text/css'>

 <link rel="icon" type="image/png" href='<?=$conf['core']['favicon_url']?>'/>

 <link rel='stylesheet' href='style/<?=$conf['core']['style']?>.css' />

<!-- Load FontAweome Glyph Library -->

 <link rel="stylesheet" href="third-party/Font-Awesome/css/font-awesome.min.css">

<!--
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
-->

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
-->
<script src="third-party/jquery/jquery-1.11.1.min.js"></script>

</head>

<!--Set bodyontouch start to try and assist touch screen devices -->

<body ontouchstart="">

<!-- Datalist for search input

Used more than once so placed here for convenience and to improve SEO

-->
<?=$search_suggestions?>


  <header>

    <h1 id='site_title'>

      <?=$conf['core']['site_logo_link']?>

    </h1>
    
    <div id=header_login>

      <div class='cartmin'>
      <i class="fa fa-shopping-cart"></i>Basket contains <span class='basket_totals price'>  <?=$shopping_basket->numberOfItems();?></span> items. Total: <span class='basket_totals'><?=$total?> </span> (<a href='./?p=basket'>view</a>)
      </div>

    </div>

  <form action='./?p=search' method='get'>

    <div class='top_search'>
   
        <input list='search' class='top_search' name='q' type='search' placeholder='Search...' value='<?=$search_query?>' />
        <button class='blue_button' type='submit' style='float:right;clear:none' name='p' value='search'><i class='fa fa-search'></i> Go</button>

    </div>
  </form>

    <!-- TODO: Move this to a separate file in /html
    -->

  <nav>
    <ul id='nav_main_left'>

        <li>
          <a style='' href='?p=products' title='<?=$lang['navigation']['products_tooltip']?>' ><?=$lang['navigation']['products']?> </a>
        </li>

        <li>
          <a href='?p=recipes' title='<?=$lang['navigation']['recipes_tooltip'];?>'><?=$lang['navigation']['recipes']; ?> </a>
        </li>

        <li>
          <a href='?p=findus' title='<?=$lang['navigation']['findus_tooltip'];?>'><?=$lang['navigation']['findus']; ?> </a>
        </li>

        <li>
          <a href='?p=contact' title'<?=$lang['navigation']['contact_us_tooltip'];?>'><?=$lang['navigation']['contact_us']; ?> </a>
        </li>

        <li>
          <a class='live_chat' title='<?=$lang['navigation']['live_chat_tooltip'];?>' href='?p=livechat'><?=$lang['navigation']['live_chat']; ?> </a>
        </li>

      <li>
      <?=$reg_link?><?=$account_link?>
      </li>
  
    </ul>
  </nav>
</header>
