<h2>Stock Management</h2>

<?php
  if($show_form==true){
    
    echo '<div class=butt_after>';
    include'./html/forms/new_stock.html';
    echo '</div>';
    
  }

  if($show_button==true){

    echo "
      <form action='./?p=inventory' method='post'>
        <div class='field '>
          <button type='submit' name='a' value='add_new'><i class='fa fa-plus'></i> Add New Stock Item</button> 
        </div>
      </form>
      ";
    }
?>

  <?=$view_choices?>

    
    <?=$tdata?>
