    <div class='report_tile'>
  <h2><i class='fa fa-envelope'></i> Messages</h2>
   <div class='report_detail'>
    <h1><?=$messages_total?></h1><p> Total </p>
  </div>
   <div class='report_detail'>
    <h1><?=$new_messages_total?></h1><p> New </p>
  </div>
   <div class='report_detail'>
    <h1><?=$replied_messages_total?></h1><p> Replied </p>
  </div>
</div>


<p class='page_top'>These are the contact messages received via the website.<br>
<br>You can send a reply directly from this page and/or delete messages as required.</p>
<?=$link?>
<hr style='clear:both'>
<?=$html?>
