<h1>Order history</h1>
<div class='page_top'><p>Details of all <b><?=$num_of_orders?></b> orders you have made with us can be found here.<br>
  <br>
  <i class='fa fa-info-circle blue'></i>
  If you make a particular order regularly, you could save all of the items in a
  <a style='font-size:1em;padding:0;' href='./?p=savedbaskets'>saved basket</a>.<br>
  <br>Then each time you want to purchase those items, you can 'restore the basket' and all of those items will then be placed in your basket.
  </p>
 


</div>

<?=$tdata?>

