
<table class='evenodd'>
  <tr>
  <td colspan=6>

<div class=field>

<h2>Confirm Your Order</h2>
<p>Please choose your payment method below</p>

</div>

  </td>
  </tr>
    <tr>
    <td colspan='3' valign='top'>
      <b>Delivery Address:
      </b>
    </td>
    <td>

      <?=$userinfo['username']?><br>
      <?=$userinfo['address_details']['house']?><br>
      <?=$userinfo['address_details']['address']?><br>
      <?=$userinfo['address_details']['country']?><br>
      <?=$userinfo['address_details']['postcode']?><br>
      

      </td>
  </tr>
  

<?=$tdata?>

  <tr>
    <td colspan=6>
      Choose payment method <i class='fa fa-paypal'></i>
      <select name='payment'>
          <option >Paypal</option>
          <option >World Pay</option>
          <option >Google Checkout</option>
      </select>
    </td>
  <tr>
    <td colspan=6>
      <div class='field right'>
      <form action='./' method='post'>
      <button type='submit' name='order' value='confirm'><i class='fa fa-credit-card'></i> Make Payment</button>
      </form>
      </div>
    </td>
  </tr>
</table>
