
<script>
  // Pieced together from
  // http://stackoverflow.com/questions/1594952/jquery-disable-enable-submit-button
  // and
  // 
  
  $(document).ready(function() {
     $("#packed_button").attr('disabled','disabled');
      $(“input[type='checkbox']:checked”).each(function(){

        $("#packed_button").removeAttr(disabled);
      })

  });

</script>

<div class='report_tile'>
  <h2><i class='fa fa-cubes'></i> Orders to pack</h2>
   <div class='report_detail'>
    <h1><?=$pending_orders?></h1>
  </div>
</div>
<p class='page_top right'>These orders have been received and payment has cleared. The goods can now be retrieved from warehousing and packed.
<br><br>Once the goods are ready for dispatch then click on the 'Order packed' button.
<br><br>
<i class='fa fa-info-circle blue'> Use the checkboxes to keep track of the items as you pack the order.</i>
</p>


<hr style='clear:both'>

<?=$html?>
