

  



<div id='products'>
<?=$view_choices?>

  <?php
  // TODO - Ajaxify the shopping cart
  ?>

  <div class='product_grid'>
    <?=$product_ex?>
  </div>


<!--
        <table class='oddeven '>
          <tr>
              <tr>
          <td colspan=6>show: <select><option>all</option></select> : Filter: <input type='text>'</td>
          </tr>
            <th>image></th>
            <th>Description</th>
            <th>Brand</th>
            <th>In Stock</th>
            <th>QTY</th>
            <th>Add to basket</th>
          </tr>
          
        </table>
-->
  
</div>
