<form action='./?p=register' method='POST' style='display:inline;float:right'>
<div id='banner'>
  <h1><?=$conf['core']['strapline']?></h1>
  <h2>Our VegBoxes start from just &pound;9.99 including delivery*</h2>

  <p>All of our produce is grown here at Abe & Cloe's farm or carefully sourced from other local farms and producers who share our passion and committment towards the very highest of standards in fresh seasonal local produce.<br />
  <br />

  Registering with us will only take a moment.

  <!--
  Register with us in minutes and use code <code>FIRST50</code> at the checkout for 50% off your first order.
  -->

  <button class='right' type='submit' ><i class='fa fa-pencil-square-o'></i> <?=$lang['login']['signup_message']?> </button>
</p>
  <h6 class='right'>*Terms & Conditions apply. Delivery not available to all postcodes. See delivery section for more info</h6>
  

</div>
</form>
