<div class='page_top'>

<p>Add more recipes using ingredients that you sell to tempt people into wanting to buy more products. </p>
<p>You currently have <b><?=$no_of_recipes?></b> recipes </p>

</div>

<?php
  

  if($show_form==true){
    include"./html/forms/new_recipe.html";
  }else
  {?>
  <div class='field right'>
  <form action='./?p=recipe_admin' method='post'>
    <button type='submit' name='a' value='new_form' ><i class='fa fa-plus'></i> Add New Recipe</button>
  </form>
  </div>
<?php
  }

?>



<?=$tdata?>
