<h2>Reports</h2>
<div class='report_tile'><h2><i class='fa fa-users'></i> Users</h2>
 <div class='report_detail'>
    <h1><?=$reg_users?></h1><p> Total </p>
  </div>
  <div class='report_detail'>
    <h1><?=$customers?></h1><p> Customers </p>
  </div>
    <div class='report_detail'>
    <h1><?=$reg_users-$customers?></h1><p> Staff </p>
  </div>
  
  <div class='report_detail'>
    <h1><?=$num_users?></h1><p> active </p>
  </div>

  <div class='report_detail'>
    <h1><?=$unver_users?></h1><p> unverified </p>
  </div>

</div>

<div class='report_tile'>
  <h2><i class='fa fa-envelope'></i> Messages</h2>
   <div class='report_detail'>
    <h1><?=$messages_total?></h1><p> Total </p>
  </div>
   <div class='report_detail'>
    <h1><?=$new_messages_total?></h1><p> New </p>
  </div>
</div>




<hr style='clear:both'>





<div class='report_tile'>
  <h2><i class='fa fa-cutlery'></i> Products</h2>
   <div class='report_detail'>
    <h1><?=$total_products?></h1><p> Total </p>
      </div>
    <div class='report_detail'>
    <h1><?=$instock_products?></h1><p> In Stock </p>
  </div>
</div>

<div class='report_tile'>
  <h2><i class='fa fa-cutlery'></i> Recipes</h2>
   <div class='report_detail'>
    <h1><?=$num_recipes?></h1><p> Recipes </p>
  </div>
</div>





<hr style='clear:both'>


<div class='report_tile'>
  <h2><i class='fa fa-credit-card'></i> Orders</h2>
  <div class='report_detail'>
    <h1><?=$total_orders?></h1><p> Total </p>
  </div>
  <div class='report_detail'>
    <h1><?=$pending_orders?></h1><p> To Pack </p>
  </div>
  <div class='report_detail'>
    <h1><?=$packed_orders?></h1><p> Dispatch</p>
  </div>
  <div class='report_detail'>
    <h1><?=$sent_orders?></h1><p> Sent</p>
  </div>


</div>



<div class='report_tile'>
  <h2><i class='fa fa-flag-o'></i> Day Totals</h2>
      <div class='report_detail'>
    <h1><?=$day_total?></h1><p> in the past 24 hours </p>
  </div>
      <div class='report_detail'>
    <h1><?=$yesterdays_total?></h1><p> Yesterday </p>
  </div>
</div>

<div class='report_tile'>
  <h2><i class='fa fa-flag'></i> Week Totals</h2>
      <div class='report_detail'>
    <h1><?=$week_total?></h1><p> in the past week </p>
  </div>
        <div class='report_detail'>
    <h1><?=$prev_week_total?></h1><p> Last week </p>
  </div>
</div>

<div class='report_tile'>
  <h2><i class='fa fa-flag-checkered'></i> Month Totals</h2>
  <div class='report_detail'>
    <h1><?=$month_total?></h1><p> This month </p>
  </div>
  <div class='report_detail'>
    <h1><?=$last_month_total?></h1><p> Last month </p>
  </div>
</div>

<div class='report_tile'>
  <h2><i class='fa fa-flag-checkered'></i> Year Total</h2>
  <div class='report_detail'>
    <h1><?=$year_total?></h1><p> This year </p>
  </div>
</div>

