    <h1>Default Styled Elements</h1>
    <a name='wrapper' ></a>
    <p>This page lists the styled elements used throughout this site. Intended to serve as a handy reference throughout development'</p>
     
    <hr />
     
    <h1 id="headings">Headings</h1>
     
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
     
    <small><a href="#wrapper">[top]</a></small>
    <hr />
     
     
    <h1 id="paragraph">Paragraph</h1>
     
    <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
     
    <p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
     
    <small><a href="#wrapper">[top]</a></small>
    <hr />
     
    <h1 id="list_types">List Types</h1>
     
    <h3>Definition List</h3>
    <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    </dl>
     
    <h3>Ordered List</h3>
    <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    </ol>
     
    <h3>Unordered List</h3>
    <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    </ul>
     
    <small><a href="#wrapper">[top]</a></small>
    <hr />
     
    <h1 id="form_elements">Fieldsets, Legends, and Form Elements</h1>
     
    <fieldset>
    <legend>Legend</legend>
     
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
     
    <form>
    <h2>Form Element</h2>
     
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
     
    <p><label for="text_field">Text Field:</label><br />
    <input type="text" id="text_field" /></p>
     
    <p><label for="text_area">Text Area:</label><br />
    <textarea id="text_area"></textarea></p>
     
    <p><label for="select_element">Select Element:</label><br />
    <select name="select_element">
    <optgroup label="Option Group 1">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    </optgroup>
    <optgroup label="Option Group 2">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    </optgroup>
    </select></p>
     
    <p><label for="radio_buttons">Radio Buttons:</label><br />
    <input type="radio" class="radio" name="radio_button" value="radio_1" /> Radio 1<br/>
    <input type="radio" class="radio" name="radio_button" value="radio_2" /> Radio 2<br/>
    <input type="radio" class="radio" name="radio_button" value="radio_3" /> Radio 3<br/>
    </p>
     
    <p><label for="checkboxes">Checkboxes:</label><br />
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Radio 1<br/>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Radio 2<br/>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> Radio 3<br/>
    </p>
     
    <p><label for="password">Password:</label><br />
    <input type="password" class="password" name="password" />
    </p>
     
    <p><label for="file">File Input:</label><br />
    <input type="file" class="file" name="file" />
    </p>
     
     
    <p><input class="button" type="reset" value="Clear" /> <input class="button" type="submit" value="Submit" />
    </p>
     
     
     
    </form>
     
    </fieldset>
     
    <small><a href="#wrapper">[top]</a></small>
    <hr />
     
    <h1 id="tables">Tables</h1>
    <h2>Default</h2>
    <table cellspacing="0" cellpadding="0">
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>
     
    <h2>Odd Even</h2>
    <table cellspacing="0" cellpadding="0" class='oddeven'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>
     
    <h2>Hoverable</h2>
    <table cellspacing="0" cellpadding="0" class='hoverable'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>
     
    <h2>Odd Even Hoverable</h2>
    <table cellspacing="0" cellpadding="0" class='oddeven hoverable'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>

    
    <h2>Odd Even Columns</h2>
    <table cellspacing="0" cellpadding="0" class='oddevencol '>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>


    <h2>Odd Even Columns Hoverable</h2>
    <table cellspacing="0" cellpadding="0" class='oddevencol hoverable'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>


    <h2>Odd Even Columns and Rows</h2>
    <table cellspacing="0" cellpadding="0" class='oddeven oddevencol'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>


    <h2>Odd Even Columns and Rows Hoverable</h2>
    <table cellspacing="0" cellpadding="0" class='oddeven oddevencol hoverable'>
    <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
    <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
    </tr>
     
    </table>
     
    <small><a href="#wrapper">[top]</a></small>
    <hr />
     
    <h1 id="misc">Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.</h1>
     
    <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="Avenue">AVE</abbr></p>
     
    <pre><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="Avenue">AVE</abbr></p></pre>
     
    <h2>Standard Blockquote Element</h2>
    <blockquote>
    "... fashion is something so ugly it has to be changed every fifteen minutes. But style is something versatile ..." <br /><cite>-Senser, Age of Panic</cite>
    </blockquote>
    <blockquote class='notification'>
    <h2>Blockquote with h2 title</h2>
    <p>This is then the p paragraph text inside a default blockquote</p>
    </blockquote>
     
    <blockquote class='info'>
    <h2>Info</h2>
    <p>This is a 'info' class blockquote. Use &lt;h2&gt;Title&lt;/h2&gt; and &lt;p&gt;Title&lt;/p&gt; tagsinside to get the nice formatting</p>
    </blockquote>
     
    <blockquote class='warn'>
      <h2>Warn</h2>
    <p>This is a 'warn' class blockquote. Use &lt;h2&gt;Title&lt;/h2&gt; and &lt;p&gt;Title&lt;/p&gt; tagsinside to get the nice formatting</p>
    </blockquote>
     
    <small><a href="#wrapper">[top]</a></small>
    <!-- End of Sample Content -->
