<h1><i class='fa fa-user'></i>
  <?=$page_title?>
</h1>



<?php
  if($show_form==true){
    
    echo '<div class=butt_after>';
    include'./html/forms/new_user.html';
    echo '</div>';
    
  }

  if($show_button==true){

    echo "
      <form action='./?p=users' method='post'>
        <div class='field '>
          <button type='submit' name='a' value='add_new'><i class='fa fa-plus'></i> Add New User</button> 
        </div>
      </form>
      ";
    }
?>
<?=$view_choices?>
<?=$tdata?>

